body{
    padding-bottom: 50px;
}
/* Flexbox */

.flexbox{
display: flex;
background-color: blue;
color: white;
margin-bottom: 30px;
}

/* Flex Direction */

.flex-direction{
    display: flex;
    background-color: #bbb;
    flex-direction: column;
}

/* Flez Wrap */

.flex-wrap{
    display: flex;
    margin-bottom: 30px;
    /*flex-wrap: wrap;*/
}

.caixa{
    height: 50px;
    width: 33%;
    border: 2px solid salmon;
}

/* Flex Justify-Content */

.center, .space-around, .space-between, .end{
    display: flex;
    margin-bottom: 30px;    
}

.center .caixa, .space-around .caixa, .space-between .caixa, .end .caixa{
    width: 60px;
}

.center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.end{
    justify-content: end;
}

/* Flex Align-Items */

.align-center, .flex-end, .strech{
    display: flex;
    height: 200px;
    margin-bottom: 30px;
    border: 3px solid black;
}

.align-center .caixa, .flex-end .caixa, .strech .caixa{
    width: 60px;
}

.align-center{
    align-items: center;
    justify-content: center;
}

.flex-end{
    align-items: flex-end;
}

.strech{
    align-items: stretch;
}

.strech .caixa{
    height: auto;
}

/* Gap */

.gap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid blue;
    gap: 8px
}

.gap .caixa{
    width: 32%;
}

/* Ordem */

.order{
    display: flex;
}

#A{
order: 1;
}

#B{
order: 2;
}

#C{
order: 3;
}

/* Grow */

.grow{
    display: flex;
}

.grow .caixa{
flex: 1;
}

.grow .maior{
flex: 2;
}

/* Flex-Basis */

.flex-basis{
    display: flex;
}

.flex-basis .caixa{
    flex-basis: 50px;
}

.flex-basis .maior{
    flex: 1;
}

/* Flex-Shrink */

.flex-shrink{
    display: flex;
}

.flex-shrink .caixa{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    width: auto;
}

.flex-shrink .maior{
    flex-shrink: 2;
}

/* Flex shorthand */

.shorthand{
    display: flex;
}

.shorthand .caixa{
    width: auto;
    flex: 1 1 50px; /*1 de grow, 1 de shrink, 50px de basis*/
}

.shorthand .diferenciada{
    flex: 4 1 300px;
}

/* Align-Self */

.align-self{
    display: flex;
    height: 400px;
    align-items: center;
    border: 2px solid blue;
}

.align-self .diferenciada{
    align-self: flex-end;
}

.align-self .diferenciada2{
    align-self: flex-start;
}

